@import "/home/sycale/node_modules/pretty-checkbox/src/pretty-checkbox.scss";
$btn-color-scheme: #ffffff;
$default-font-family: Roboto;

@mixin hidden {
  position: absolute;
  display: none;
  background-color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #1665d8;
  width: 66px;
  text-align: center;
}

@mixin button__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #425a70;
}

@mixin info-title {
  font-family: $default-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.06px;
  color: #212529;
}

@mixin info-subtitle {
  font-family: $default-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.05px;
  color: #9ea0a5;
}

html {
  overflow: visible;
}

.rectangle {
  border-radius: 4px;
  &--header {
    background: #332291;
  }
}

a {
  text-decoration: none;
}

.link:hover {
  color: orange;
  border-bottom: solid blue 2px;
}

body {
  margin: 0px;
  width: 100%;
}

.header {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: #3f51b5;
  &-logo {
    margin-left: 24px;
    width: 179px;
  }
  &-offer {
    width: 44%;
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-left: -10px;
    &__badge {
      margin-top: 6px;
      margin-bottom: 5px;
      margin-left: 6px;
      display: flex;
      align-items: center;
      align-content: center;
      background-color: #26a69a;
      opacity: 10;
      height: 19px;
      width: 37px;
      .badge__text {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        color: #ffffff;
        width: 100%;
      }
    }
    &__slogan {
      margin-left: 12px;
      margin-top: 6px;
      margin-bottom: 5px;
      width: 769px;
      margin-right: 16px;
      .slogan__text {
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #cdd1ea;
      }
    }
  }
  &-options {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    width: 56.94px;
    height: 19.51px;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    margin-top: 22.5px;
    margin-bottom: 22px;
    margin-right: 32px;
    &__img {
      margin-right: 21px;
    }
  }
}

.link {
  color: white;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
}

.aside {
  width: 270px;
  height: 1016px;
  background: white;
  border-right: 1px solid #fafafa;
  box-shadow: 0px 1px 3px #c4c4c4, 0px 1px 0px #c4c4c4;
  z-index: 1;
  &-avatar {
    margin-top: 24px;
    margin-left: 85px;
    margin-right: 85px;
    width: 112px;
    height: 156px;
    margin-bottom: 7px;
    .avatar__img {
      margin-left: 10px;
      margin-right: 2px;
    }
    &__title {
      display: flex;
      justify-content: center;
      word-break: normal;
      height: 20px;
      width: 115px;
      margin-top: 16px;
    }
    &__subtitle {
      margin-left: 19px;
      margin-right: 30px;
      margin-top: 4px;
      width: 75px;
      height: 16px;
    }
  }
  &-menu {
    margin-top: 24px;
    &__list {
      display: flex;
      width: 238px;
      height: 46px;
      margin-left: 16px;
      margin-bottom: 8px;
      padding-left: 16px;
      margin-right: 16px;
      align-items: center;
      align-content: center;
    }
  }
}

.title {
  font-family: $default-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.05px;
  color: #3a3b3f;
}

.subtitle {
  font-family: $default-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #9ea0a5;
}

.temp-line {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;

  &--modified {
    margin-top: 8px;
  }
}

.temp-line--full-width {
  width: 100%;
  margin-left: -0px;
  height: 1px;
  margin-top: 0px;
}

.list__text {
  height: 20px;
  margin-top: 13px;
  margin-bottom: 13px;
  display: flex;
  margin-left: 8px;
  font-family: $default-font-family;
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.05px;
  color: #66788a;
}
.aside-support {
  margin-top: 24px;
  &__text {
    margin-top: 24px;
    margin-left: 31px;
    font-family: $default-font-family;
    font-style: normal;
    font-weight: 750;
    font-size: 13px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.328974);
  }
}
.support-item {
  margin-top: 8px;
}
.main {
  width: 100%;
  background: #fafafa;
}
.navigation {
  display: flex;
  flex-direction: row;
  height: 57px;
  height: 38px;
  margin-top: 19px;
  border-bottom: solid #e4e7eb 1px;
  &__item {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 24px;

    &:hover {
      border-bottom: solid #1665d8 3px;
    }
    .item__text {
      font-family: $default-font-family;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.05px;
      color: #3a3b3f;
    }
  }
}
.settings {
  margin-left: 24px;
  display: flex;
  flex-direction: row;
  &__portrait {
    margin-top: 24px;
    width: 375px;
    height: 249px;
    background: #ffffff;
    border: 1px solid rgba(63, 63, 68, 0.005);
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15);
    border-radius: 4px;

    &__left-sidebar {
      height: 188px;
      border-bottom: solid #e4e7eb 1px;
      width: 100%;
    }
  }
  &__leftbar {
    margin-left: 28px;
    margin-top: 23px;
    width: 56.4%;
  }
}

.info {
  display: flex;
  flex-direction: row;
  height: 188px;
  border-bottom: solid #e4e7eb 1px;
  width: 100%;
  &__left-sidebar {
    width: 146px;
    height: 78px;
    margin-right: 41px;
    margin-left: 24px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
  }
}

.left-sidebar__fname {
  @include info-title();
  margin-bottom: 10px;
}

.left-sidebar__city {
  @include info-subtitle();
  text-align: start;
}

.left-sidebar__timezone {
  @include info-subtitle();
  text-align: start;
}

.info__right-sidebar {
  margin-top: 24px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 22px;
  width: 100%;
  &__upload {
    text-align: center;
    flex: 1 0 auto;
    @include button__text();
    width: 50%;
    &:hover {
      color: #1665d8;
      font-weight: 500;
      cursor: pointer;
    }
  }
  &__remove {
    text-align: center;
    flex: 1 0 auto;
    width: 50%;
    @include button__text();
    &:hover {
      font-weight: 500;
      color: #1665d8;
      cursor: pointer;
    }
  }
}

.basic-info {
  background-color: #fff;
  height: 454px;
  border: 1px solid rgba(63, 63, 68, 0.005);
  box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15),
    0px 1px 0px rgba(63, 63, 68, 0.05);
  border-radius: 4px;
  width: 910px;
}

.caption {
  padding-left: 24px;
  margin-top: 26px;
  height: 46px;
  border-bottom: solid #e4e7eb 1px;
}

.caption__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.05px;
  color: rgb(0, 0, 0);
}

.caption__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-left: 16px;
  color: #66788a;
}

.basic-info__body {
  margin-top: 33px;
  margin-left: 24px;
}

.input-line {
  display: flex;
  flex-direction: row;
  &__input-container {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    margin-bottom: 24px;
    .input-container__textbox {
      border: 1px solid rgba(0, 0, 0, 0.32);
      box-sizing: border-box;
      border-radius: 4px;
      height: 56px;
      width: 328px;
      padding: 16px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: rgba(0, 0, 0, 0.6);
      &:focus {
        outline: none;
        border: solid blue 1px;

        display: inline-block;
      }
    }
    .input-container__subtitle {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
      color: rgba(0, 0, 0, 0.6);
      margin-left: 16px;
      margin-top: 3px;
    }
  }
}

.input-container__desc--hidden {
  top: 245px;
  left: 745px;
  @include hidden();
}

.input-container__desc--hidden2 {
  @include hidden();
  top: 245px;
  left: 1095px;
}

.input-container__desc--hidden3 {
  @include hidden();
  top: 245px + 48px + 52px;
  left: 745px;
  width: 40px;
}

.input-container__desc--hidden4 {
  @include hidden();
  top: 245px + 48px + 52px;
  left: 1095px;
  width: 50px;
}

.inp-box1:focus + .input-container__desc--hidden2 {
  display: inline-block;
}

.inp-box:focus + .input-container__desc--hidden {
  display: inline-block;
}

.inp-box2:focus + .input-container__desc--hidden3 {
  display: inline-block;
}

.inp-box3:focus + .input-container__desc--hidden4 {
  display: inline-block;
  width: 40px;
}

.inp-box4:focus + .input-container__desc--hidden5 {
  display: inline-block;
  width: 50px;
}

.inp-box5:focus + .input-container__desc--hidden6 {
  display: inline-block;
  width: 30px;
}

.input-container__desc--hidden5 {
  @include hidden();
  top: 245px + 48px + 56px + 56px + 20px;
  left: 745px;
}

.input-container__desc--hidden6 {
  @include hidden();
  top: 245px + 48px + 56px + 56px + 20px;
  left: 1095px;
  width: 40px;
}

.basic-info__footer {
  background: #fafafa;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  background: rgb(54, 54, 255);
  margin: 24px;
  width: 152px;
  height: 40px;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.footer__save-btn {
  text-align: center;
  font-family: Roboto;
}

.notifications {
  margin-top: 24px;
  background: #ffffff;
  border: 1px solid rgba(63, 63, 68, 0.005);
  box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15),
    0px 1px 0px rgba(63, 63, 68, 0.05);
  border-radius: 4px;
  width: 910px;
  height: 414px;
  &-body {
    height: 209px;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    &__column {
      display: flex;
      flex-direction: column;
      margin-right: 122px;
    }
  }
}

.caption__title--margin {
  margin-bottom: 28px;
}

.pretty {
  margin-bottom: 20px;
}

.pretty--margin {
  margin-bottom: 32px;
}

.checkbox-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.hidden {
  position: absolute;
  display: none;
  left: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #66788a;
}

.temp-line--margin-top {
  margin-top: 10px;
}

.footer__save-btn--color {
  background-color: white;
}

.notifications__footer {
  margin-top: 24px;
  margin-left: 24px;
  width: 120px;
  height: 40px;
  text-align: center;
  display: flex;
  background: rgba(98, 2, 238, 0.0001);
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 4px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.displayn {
  display: inline;
}

@media screen and (max-width: 1800px) {
  .settings {
    flex-direction: column;
  }

  .input-line {
    flex-direction: column;
  }

  .basic-info {
    height: 50%;
    width: 100%;
  }

  .settings__portrait {
    width: 90%;
  }

  .info__right-sidebar {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
    align-items: center;
    img {
      margin-right: 70px;
    }
  }

  .aside {
    border-bottom: solid white 1px;
  }

  .settings__leftbar {
    margin-left: 0px;
    width: 90%;
  }

  .notifications {
    width: 100%;
    height: 540px;
  }

  .caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__description {
      margin-left: 0px;
      margin-bottom: 10px;
    }
  }
  
  .input-container__desc--hidden {
    left: 350px;
    top: 520px;
  }

  .input-container__desc--hidden2 {
    left: 350px;
    top: 520px + 100px;
  }

  .input-container__desc--hidden3 {
    left: 350px;
    top: 719px;
  }

  .input-container__desc--hidden4 {
    left: 350px;
    top: 799px;
  }

  .input-container__desc--hidden5 {
    left: 350px;
    top: 879px;
  }

  .input-container__desc--hidden6 {
    left: 350px;
    top: 959px;
  }

  .notifications-body {
    flex-direction: column;
    height: 68%;
  }

  .header-offer {
    width: 60%;
    height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
  }

  .header-offer__slogan {
    display: flex;

    flex-direction: column;
  }

  .slogan__text {
    font-size: 10px;
    color: red;
  }
}
