.body{
    display: flex;
    flex-direction: row;
}

.cells{
    border: solid black 1px;
    width:100px;
    height:100px;
    background-color: blue;
}
.board{
    display: flex;
    flex-direction: column;

}
.first-row, .second-row, .third-row{
    display: flex;
    flex-direction: row;
}

.checked{
    background-color:red;
}
.checked-second_player{
    background-color: green;
}