$logo-img-width: 48px;
$dark-theme-color: gray;
@mixin display-row {
  display: flex;
  flex-direction: row;
}
@mixin display-col {
  display: flex;
  flex-direction: column;
}
$contact-main-text-color: white;
$contact-addit-text-color: rgb(212, 211, 211);
$contact-main-text-size: 50px;
$contact-addit-text-size: 18px;
$font-family-default: Arial, Helvetica, sans-serif;
$main-inf-main-text-size: 20px;
$main-inf-addit-text-size: 15px;
$main-inf-main-color: rgb(0, 9, 88);
$main-inf-addit-color: rgb(158, 157, 157);
$phone-text-size: 20px;
$text-size: 20px;
input {
  outline: none;
}
.logo-img {
  width: $logo-img-width;
}
body {
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  align-self: center;
  flex-direction: row;
  width: 100%;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  &__logo {
    margin-left: 90px;
    flex: 1 0 auto;
    padding-left: 0px;
    padding-top: 40px;
  }
  &__navigation {
    margin-right: 90px;
    padding-top: 40px;
    padding-right: 0px;
  }
}
.banner {
  height: 250px;
  background: url("/assets/background.jpg");
  background-size: 100%;

  background-blend-mode: overlay;
  &__title {
    padding-top: 60px;
    margin-bottom: 40px;

    justify-content: center;
    display: flex;
    .title__text {
      font-size: $contact-main-text-size;
      color: $contact-main-text-color;
      font-family: $font-family-default;
    }
  }
  &__subtitle {
    display: flex;
    justify-content: center;
    align-content: center;

    .subtitle__text {
      font-family: $font-family-default;
      font-size: $contact-addit-text-size;
      color: $contact-addit-text-color;
      width: 800px;
      text-align: center;
      letter-spacing: 3px;
      line-height: 35px;
    }
  }
}
.main-content {
  margin-top: 90px;
  width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: row;

  &__info {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    .info__pic {
      width: 300px;
    }
    .info__address {
      margin-top: 70px;
      display: flex;
      flex-direction: inherit;

      &--main {
        font-size: $main-inf-main-text-size;
        font-family: Arial, Helvetica, sans-serif;
        color: $main-inf-main-color;
      }
      &--secondary {
        margin-top: 30px;
        font-size: $main-inf-addit-text-size;
        color: $main-inf-addit-color;
        width: 350px;
        line-height: 30px;
        letter-spacing: 1px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    .info__phone {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      .phone__text {
        color: $main-inf-main-color;
        font-size: $main-inf-main-text-size;
      }
      .phone__number {
        margin-top: 30px;
        margin-bottom: -20px;
        .number--img {
          width: 30px;
        }
        .number--text {
          line-height: 30px;
          letter-spacing: 2px;
          color: $main-inf-addit-color;
          font-size: $phone-text-size;
          margin-left: 15px;
        }
      }
    }
    .info__online-service {
      margin-top: 80px;
      .online-service__title {
        font-size: $main-inf-main-text-size;
        color: $main-inf-main-color;
      }
      .online-service__web {
        margin-top: 30px;
        .web__img {
          width: 25px;
        }
        .web__text {
          margin-left: 25px;
          color: $main-inf-addit-color;
          font-size: $text-size;
        }
      }
      .online-service__mail {
        margin-top: 20px;

        .mail__img {
          width: 25px;
        }
        .mail__text {
          margin-left: 25px;
          color: $main-inf-addit-color;
          font-size: $text-size;
        }
      }
    }
  }
  &__feedback {
    margin-top: -30px;
    margin-left: 60px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(209, 209, 250);
    .feedback__title {
      margin: 60px;
      .title__text {
        font-size: $main-inf-main-text-size - 1px;
        font-weight: bold;
        font-family: "Courier New", Courier, monospace;
        color: $main-inf-main-color;
      }
    }
    .msg-box {
      margin-left: 56px;
      margin-right: 56px;
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      border: none;
      width: 540px;

      &__text {
        color: $main-inf-addit-color;
        font-size: $main-inf-main-text-size - 5px;
        font-family: Arial, Helvetica, sans-serif;
      }
      &__inputbox {
        margin-top: 10px;
        width: 428px;
        height: 72px;
        border-radius: 10px;
        border: solid rgb(218, 218, 245) 1px;
        padding: 20px;
        font-size: 20px;
        color: $main-inf-addit-color;
      }
    }
    .additional__inputbox {
      height: 144px;
      width: 428px;
      display: flex;
      padding-bottom: 93px;
    }
    .submit-btn {
      margin-top: 80px;
      width: 428px;
      border-radius: 10px;
      background-color: rgb(152, 152, 255);
      height: 80px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      outline: none;
      box-shadow: 0 0 10px rgb(199, 199, 255);
      &__text {
        width: 100%;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
      }
    }
  }
}
.map {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  width: 1336px;
  margin-left: auto;
  margin-right: auto;
  &-pic {
    margin-left: 60px;
    width: 1080px;
  }
}
.footer {
  background: #316099;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 80px;
  height: 869px;
  border-radius: 0px 200px 0px 0px;

  &__top-content {
    width: 1073px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: row;
    &--border {
      border-bottom: solid white 1px;
    }
    .work {
      display: flex;
      flex-direction: column;
      margin-left: 213px;
      margin-top: 91px;
      .work__title {
        font-size: 36px;
        width: 317px;
        height: 92px;
        color: white;
      }
      .work__subtitle {
        margin-top: 32px;
        width: 460px;
        height: 80px;
        font-family: Gilroy;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #ffffff;
        opacity: 0.6;
      }
    }

    .top-content--btn {
      margin-left: 180px;
      margin-top: 165px;
      .btn--submit {
        width: 220px;
        height: 56px;
        background-color: #5a98d0;
        border-radius: 10px;
        border: none;
        outline: none;
        color: white;
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__bot-content {
    margin-left: 215px;
    margin-top: 104px;
    display: flex;
    flex-direction: row;

    .info {
      margin-right: 100px;
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      &-socials {
        margin-left: -30px;
      }
      &__item {
        margin-bottom: 24px;
        width: 264px;
        height: 26px;
        &--main {
          font-family: Gilroy;
          font-size: 28px;
          letter-spacing: 0.02em;
          color: white;
        }
        &--secondary {
          font-family: Gilroy;
          font-size: 16px;
          line-height: 26px;
          color: white;
          letter-spacing: 0.05em;
        }
      }
      &__bold-text {
        color: white;
        margin-right: 16px;
      }
    }
  }
}
.item--main {
  margin-bottom: 32px;
}

.copyright {
  margin-left: 213px;
  margin-top: 64px;

  &__text {
    font-family: Gilroy;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
    opacity: 0.4;
  }
}
